body{
    background-color:#f9e3e3;
    color: #6C5B7B;
}

h1,
h2{
    text-align: center;
}

h1,
h4{
    text-transform: uppercase;
}

h1{
    color: #fd808c;
    background-color:#35567D ;
}

h2 {
    color: #F67280;
}


h3{
    color:#35567D;
    background-color: #fd808c;
    text-transform: capitalize;
}

h4{
    color:#C06C84;
    text-decoration: underline;
}


a,
ol{
    color:#0c2747;
}

ul{
    color:#6C5B7B;
}

a{
    text-decoration: none;
}

ol{
    text-transform: uppercase;
}

img{
    width: 30%;
    border-radius: 50px;
    display: block;
    margin: 10px auto;
}

